
#c1 {
	margin-top:10px; 
	padding-left: 50px; 
	font-size: 25px;
}

#img 2 {
	padding-right: 10px;
}

#p1 {
	font-size: 12px;
	font-style: cursive;
	text-align: justify;
	margin-left: 15px;
	margin-top: 20px;
}

#p2 {
	font-size: 12px;
	font-style: cursive;
	text-align: justify;
	margin-left: 15px;
	color: white;
	margin-top: 30px;
}

#c2 {
	margin-top:10px; 
	padding-left: 50px; 
	font-size: 25px;
	color: white; 
}

#icono {
	width: 5px:
	height: 5px;
}